.logoPrimaryFill {
  background-color: var(--color-text-primary);
  mask: url(/images/logo-no-text.svg) center / contain no-repeat;
  -webkit-mask: url(/images/logo-no-text.svg) center / contain no-repeat;
}
